<style>
    .navbar {
        display: flex;
        justify-content: center;
    }

    ul {
        display: flex;
        list-style: none
    }

    li {
        margin: 0px 5px;
    }

    span[id*=nav] {
        text-decoration: none;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    span[id*=nav]:hover {
        color: black;
    }

    @media only screen and (max-width: 573px) {
        ul {
            display: block;
        }
    }
</style>

<div class="navbar">
</div>